.input-search {
  height: 50px;
  width: 400px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  transition: .5s ease-in-out;
  background-color: #2d333e;
  border-radius: 25px;
  padding-right: 40px;
  color: #2d333e;
}
.input-search::placeholder {
  color: #ffffff77;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 0px;
  color: #2d333e;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search i {
  color: #fff;
}
.input-search:focus,
.btn-search:focus ~ .input-search {
  border-bottom: 4px solid #4e6da8;
  color: #fff;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
