/* Globalne Atrybuty */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  letter-spacing: 0.1rem;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body,
html {
  background: #222831 !important;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
main {
  position: relative;
}
.header {
  z-index: 1;
  width: 100%;
  position: relative;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 10%;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='20' patternTransform='scale(3) rotate(120)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(228, 52%, 94%, 0.1)'/><path d='M40 0L20-10V0l20 10zm0 10L20 0v10l20 10zm0 10L20 10v10l20 10zM0 20l20-10v10L0 30zm0-10L20 0v10L0 20zM0 0l20-10V0L0 10z'  stroke-width='7' stroke='hsla(216, 18%, 16%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}
.header nav .navbar-toggler {
  color: rgb(233, 236, 248);
  border-color: #e9ecf8;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(233, 236, 248)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.header nav .navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
.header nav .navbar-brand {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #e9ecf8;
}
@media (max-width: 768px) {
  .header nav .navbar-brand {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }
}
.header nav .nav-link {
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: #e9ecf8;
}
.header nav .nav-link::before,
.header nav .nav-link::after {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}
.header nav .nav-link::before {
  content: "";
  right: 0;
  top: 0;
  border-top: 3px solid #e9ecf8;
  border-right: 3px solid #e9ecf8de;
  transform: translate(-100%, 50%);
}
.header nav .nav-link:after {
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #e9ecf8;
  border-left: 3px solid #e9ecf8de;
  transform: translate(100%, -50%);
}
.header nav .nav-link:hover:before,
.header nav .nav-link:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}
@media (max-width: 768px) {
  .header nav .nav-link:hover:before,
  .header nav .nav-link:hover:after {
    transform: translate(0, 0);
    opacity: 0;
  }
}
/* Sekcja Hero */
.hero {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 10%;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='20' patternTransform='scale(3) rotate(120)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(228, 52%, 94%, 0.1)'/><path d='M40 0L20-10V0l20 10zm0 10L20 0v10l20 10zm0 10L20 10v10l20 10zM0 20l20-10v10L0 30zm0-10L20 0v10L0 20zM0 0l20-10V0L0 10z'  stroke-width='7' stroke='hsla(216, 18%, 16%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}
.hero .content {
  z-index: 2;
  position: relative;
  line-height: 30px;
}
.title {
  font-weight: 700;
  font-size: 62px;
  color: #e9ecf8;
  text-transform: uppercase;
  position: relative;
}
.subtitle {
  font-weight: 700;
  font-size: 30px;
  color: #e9ecf8;
  text-transform: uppercase;
  position: relative;
}
@media (max-width: 768px) {
  .title {
    font-size: 42px;
    text-transform: capitalize;
  }
}
@media (max-width: 425px) {
  .title {
    text-align: left;
  }
}
.line {
  color: #e9ecf8;
  opacity: 1;
  width: 50px;
  border-bottom: 3px solid #e9ecf8;
}
.text {
  color: #d8dae4;
  font-size: 18px;
  text-align: justify;
}
.hero .hero-image {
  width: 100%;
  height: 400px;
  position: relative;
  border-radius: 50%;
}
.hero .banner {
  position: relative;
  z-index: 0;
  width: 400px;
  height: 400px;
  left: 10%;
  animation-name: soccerball;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}
@media (min-width: 1200px) {
  .hero .banner {
    left: 20%;
  }
}
@keyframes soccerball {
  0% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30px);
  }
}

/* Sekcja Game */
.game {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: transparent;
  z-index: 0;
}

.game::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 10%;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='20' patternTransform='scale(3) rotate(120)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(228, 52%, 94%, 0.1)'/><path d='M40 0L20-10V0l20 10zm0 10L20 0v10l20 10zm0 10L20 10v10l20 10zM0 20l20-10v10L0 30zm0-10L20 0v10L0 20zM0 0l20-10V0L0 10z'  stroke-width='7' stroke='hsla(216, 18%, 16%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.box {
  background: #36404ea1;
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 20px;
  color: #e6e8f0;
  border: 2px solid #e9ecf827;
  border-radius: 20px;
}
.box .form-group {
  font-family: "Roboto", sans-serif;
  position: relative;
  color: #d8dae4;
}
.box .form-group .form-control {
  font-size: 100%;
  color: #d8dae4;
  outline: none;
  border: 2px solid #e9ecf87e;
  background-color: transparent;
  border-radius: 6px;
  transition: 0.4s ease-in-out;
  width: 100%;
}
.box .form-group .form-label {
  color: #e9ecf8bd;
}
.box .form-group .form-control:focus,
.form-control:valid {
  outline: none;
  border: 2px solid #e9ecf8;
  box-shadow: none;
}
.box .form-control::placeholder {
  color: #d8dae4;
  opacity: 0.5;
}
.box .btr {
  position: relative;
  height: 3em;
  border: 3px ridge #e9ecf87e;
  border-radius: 6px;
  outline: none;
  text-transform: uppercase;
  overflow: hidden;
  background-color: transparent;
  color: #e9ecf8bd;
  transition: 0.4s ease-in-out;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.box .btr:hover {
  color: #e9ecf8;
  border: 3px solid #e9ecf8;
}

/* Sekcja Info */
.info {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: transparent;
  z-index: 0;
}

.info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 10%;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='20' patternTransform='scale(3) rotate(120)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(228, 52%, 94%, 0.1)'/><path d='M40 0L20-10V0l20 10zm0 10L20 0v10l20 10zm0 10L20 10v10l20 10zM0 20l20-10v10L0 30zm0-10L20 0v10L0 20zM0 0l20-10V0L0 10z'  stroke-width='7' stroke='hsla(216, 18%, 16%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}
.infoBox {
  position: relative;
  z-index: 1;
}
.infoBox::before {
  content: "";
  background: #ffffff00;
  position: absolute;
  left: 0;
  border: 2px solid #d8dae4;
  right: 0;
  top: 20px;
  bottom: 0;
  z-index: -1;
  box-shadow: 0px -45px 45px -40px #ffffff33;
}
.infoBox::after {
  content: "";
  background: #ffffff00;
  position: absolute;
  left: 0;
  border: 2px solid #d8dae4;
  right: 0;
  top: 20px;
  bottom: 0;
  z-index: -1;
}
.infoBox .infoImage {
  border: 2px solid #d8dae4;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 70px;
  color: #d8dae4;
  height: 70px;
  background: #222831;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}
.infoBox .infoImage i {
  font-size: 36px;
}
.info .content {
  z-index: 1;
  position: relative;
}
.info .content .subtitle {
  font-weight: 700;
  font-size: 32px;
  color: #e9ecf8;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .info .content .subtitle {
    text-transform: capitalize;
  }
}
@media (max-width: 425px) {
  .info .content .subtitle {
    text-align: left;
    font-size: 28px;
  }
}
.info .content .line {
  color: #e9ecf8;
}
.info .content .subtext {
  color: #d8dae4;
  font-size: 16px;
  text-align: justify;
}


/* Stopek */
.footer {
  position: relative;
  width: 100%;
  max-width: 100%;
  color: #d8dae4;
  z-index: 2;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 10%;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='20' patternTransform='scale(3) rotate(120)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(228, 52%, 94%, 0.1)'/><path d='M40 0L20-10V0l20 10zm0 10L20 0v10l20 10zm0 10L20 10v10l20 10zM0 20l20-10v10L0 30zm0-10L20 0v10L0 20zM0 0l20-10V0L0 10z'  stroke-width='7' stroke='hsla(216, 18%, 16%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}
.footer .content {
  position: relative;
}

.footer .content .title {
  font-weight: 700;
  font-size: 30px;
  color: #d8dae4;
  text-transform: uppercase;
  position: relative;
}
.footer .content .text {
  color: #d8dae4;
  font-size: 16px;
  text-align: justify;
}
@media (max-width: 768px) {
  .footer .content .title {
    text-transform: capitalize;
  }
}
@media (max-width: 425px) {
  .footer .content .title {
    text-align: left;
  }
}