/* Pierwszy blok nadchodzącego meczu
.match {
    background-image: linear-gradient(90deg, rgba(50, 59, 73, 1) 0%, rgb(75, 84, 109) 100%);
    position: relative;
    border-radius: 12px;
    border: 2px solid #c3c6cfa4;
    color: #e9ecf8;
}
.match-title {
    font-size: 26px;
    font-weight: 600;
    display: inline-block;
    color: #e9ecf8e0;
    text-transform: uppercase;
    position: relative;
}
@media (max-width: 1028px){
    .match-title {
        font-size: 22px;
        text-transform: capitalize;
    }
}
.match-title::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 2px;
    opacity: 0.5;
    border-radius: 12px;
    bottom: -5px;
    background: #e9ecf8c9;
}

.match-league {
    font-size: 20px;
    font-weight: 700;
    color: #e9ecf8;
    text-transform: uppercase;
}

.match-date {
    font-size: 16px;
    font-weight: 500;
    color: #dddee2;
}
.match-logo {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border: 2px solid #e9ecf896;
    border-radius: 50%;
}
.match-team {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.match-result {
    font-size: 28px;
}
.match-line {
    width: 100px;
    margin: 15px auto;
}
.match-round {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: #dddee2c7;
} */